<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Espace Membre</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    {% for post in posts %}
    
   
   
    <div class="media">
        <div class="media-body">
          <h5 class="mt-0">{{ post.title }}</h5>
          {{ post.text}}
         </div>
    </div>
    <br>
    <br>
    <br>
    {% endfor %}
</body>
</html>
